h1, h2 {
  font-family: Lato;
}

 * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 5;
        padding: 5;
      }